{% trans_default_domain 'FOSUserBundle' %}

<table class="table table-bordered table-hover">
    <tr>
        <th>Nom</th>
        <td>{% if user.lastName != '' %}{{ user.lastName }}{% else %}Non défini{% endif %}</td>
    </tr>
    <tr>
        <th>Prénom</th>
        <td>{% if user.firstName != '' %}{{ user.firstName }}{% else %}Non défini{% endif %}</td>
    </tr>
    <tr>
        <th>{{ 'profile.show.username'|trans }}</th>
        <td>{{ user.username }}</td>
    </tr>
    <tr>
        <th>{{ 'profile.show.email'|trans }}</th>
        <td>{{ user.email }}</td>
    </tr>
</table>

<p><a href="{{ path('fos_user_profile_edit') }}" class="btn btn-default"><i class="fa fa-pencil"></i> Modifier le profil</a> <a href="{{ path('fos_user_change_password') }}" class="btn btn-default"><i class="fa fa-unlock-alt"></i> Changer le mot de passe</a></p>