{# Dywee\UserBundle\Resources\View\User\table.html.twig #}

{%  extends "DyweeUserBundle::userAdmin.html.twig" %}

{% block body %}

    <h1>Bienvenue
        {% if app.user.firstName != '' and app.user.lastName != '' %}
            {{ app.user.firstName }} {{ app.user.lastName }}
        {% else %}
            {{ app.user.username }}
        {% endif %}
    </h1>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Vos commande</h2>
                </div>
                {% if orderList is empty %}
                <div class="panel-body">
                    <p>Aucune commande effectuée</p>
                </div>
                {% else %}
                    non vide
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Vos paramètres</h2>
                </div>
                <div class="panel-body">
                    <p><a href="{{ path('dywee_address_user_table') }}">Vos adresses</a></p>
                    <p><a href="{{ path('fos_user_profile_show') }}">Votre profil</a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}